<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.techouse.alfred-emoji</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2FEB400C-5B19-4DB4-BE65-5D907C5E1916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F52909C5-9662-451E-8D9E-C3A8115EADD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BBBC706-EFF2-435C-9BAE-E76FE8561C9B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F52909C5-9662-451E-8D9E-C3A8115EADD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>581F7DD0-C3B0-400F-B2DD-A6FFFFFA5656</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20F33E0E-43A7-43D1-8B65-BFBC17B87136</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Klemen Tusar</string>
	<key>description</key>
	<string>Search for emojis and copy them to the clipboard easily.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./emoji -u</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>581F7DD0-C3B0-400F-B2DD-A6FFFFFA5656</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update:workflow</string>
						<key>outputlabel</key>
						<string>Update Workflow</string>
						<key>uid</key>
						<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Copy to Clipboard</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F52909C5-9662-451E-8D9E-C3A8115EADD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query} </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>20F33E0E-43A7-43D1-8B65-BFBC17B87136</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ej</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching emojis ...</string>
				<key>script</key>
				<string>./emoji -q "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for emojis and copy them to the clipboard easily</string>
				<key>title</key>
				<string>Search for emojis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2FEB400C-5B19-4DB4-BE65-5D907C5E1916</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2BBBC706-EFF2-435C-9BAE-E76FE8561C9B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Emoji Workflow

This workflow allows you to quickly search for and copy emoji to your clipboard.

## Usage

Just type `ej` followed by your search query.

`ej smile`


Either press `⌘Y` to Quick Look the result, or press `&lt;enter&gt;` copy it to your clipboard.

### Modifier keys

- &lt;kbd&gt;return&lt;/kbd&gt; (↵): Copy the symbol of the selected emoji (e.g. "☕️") directly to your front-most application.
- &lt;kbd&gt;option+return&lt;/kbd&gt; (⌥↵): Copy the code of the selected emoji) (e.g. `:coffee:`) to your clipboard.
- &lt;kbd&gt;ctrl+return&lt;/kbd&gt; (⌃↵): Copy the hexadecimal HTML Entity of the selected emoji) (e.g. `&amp;#x2615;`) to your clipboard.
- &lt;kbd&gt;shift+return&lt;/kbd&gt; (⇧↵): Copy the Python source of the selected emoji) (e.g. `u"\U0002615"`) to your clipboard.
- &lt;kbd&gt;shift+ctrl+return&lt;/kbd&gt; (⇧⌃↵): Copy the formal Unicode notation of the selected emoji) (e.g. `U+2615`) to your clipboard.
- &lt;kbd&gt;cmd+return&lt;/kbd&gt; (⌘↵): Copy the symbol of the selected emoji (e.g. "☕️") to your clipboard.

### Set skin tone

To change the emoji skin tone of all the emojis that support it, set the `alfred_emoji_skin_tone` environment variable in Alfred.
Possible **integer** values are:

- `1` - *light* skin tone,
- `2` - *medium-light* skin tone,
- `3` - *medium* skin tone,
- `4` - *medium-dark* skin tone,
- `5` - *dark* skin tone</string>
	<key>uidata</key>
	<dict>
		<key>20F33E0E-43A7-43D1-8B65-BFBC17B87136</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>2BBBC706-EFF2-435C-9BAE-E76FE8561C9B</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>2FEB400C-5B19-4DB4-BE65-5D907C5E1916</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>581F7DD0-C3B0-400F-B2DD-A6FFFFFA5656</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>F52909C5-9662-451E-8D9E-C3A8115EADD9</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>alfred_emoji_skin_tone</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>alfred_emoji_skin_tone</string>
	</array>
	<key>version</key>
	<string>1.0.5</string>
	<key>webaddress</key>
	<string>https://github.com/techouse/alfred-emoji</string>
</dict>
</plist>
